catalogues
__pycache__
.ropeproject
deepfrier/.ropeproject

# projects
pred_cmaps_benchmark
tasks.txt
rosetta_aupr_perf.py
random5k
new_pdb
old_slurm
ncov2019
sifts_models
results


# models
trained_models/*
newest_trained/*
alphafold2

build/
DeepFRI.egg-info/
*trained_models*
DeepFRI_MF_pred_scores.json
DeepFRI_MF_predictions.csv

preprocessing/data/.DS_Store
preprocessing/data/TFRecords/
preprocessing/data/bc-95.out
preprocessing/data/go-basic.obo
preprocessing/data/pdb_chain_enzyme.tsv.gz
preprocessing/data/pdb_chain_go.tsv.gz
preprocessing/data/pdb_seqres.txt.gz
preprocessing/data/downloaded
